<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <main id="main">
        <!-- İletişim Section -->
        <section>
            <div class="wrap">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="section-title" data-aos="fade-down">
                            <h2>İLETİŞİM</h2>
                        </div>
                        <div class="row w-100" data-aos="fade-down">
                            <div class="col-lg-6 my-4">

                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d382.5537061920585!2d32.7802369153366!3d39.9094002430555!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3489e0b26bfbb%3A0x2b7168435922ab83!2zU2FuYXlpIEJha2FubMSxxJ_EsQ!5e0!3m2!1str!2str!4v1660290187089!5m2!1str!2str"
                                        width="600" height="450" style="border:0; margin-left:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                                                                     
                            </div>
                            <div class="col-lg-6 my-4 d-flex align-items-center">
                                <div style="margin-bottom:300px;">
                                    <p><strong>Adres: </strong><i>Mustafa Kemal Mahallesi Dumlupınar Bulvarı (Eskişehir Yolu 7.km) 2151. Cadde No:154/A 06530 Çankaya/ANKARA</i></p>
                                    <p><strong>Email: </strong><a href="mailto:egitimvekariyer@sanayi.gov.tr">egitimvekariyer@sanayi.gov.tr</a></p>
                                    <p><strong>Telefon: </strong>444 6 100</p>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- İletişim Section -->
    </main>
    <!-- End #main -->
    @*<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/Counter.js"></script>
</body>

</html>