<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>
        <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="row">
            <div class="col-lg-8">
                <center>
                    <img src="~/assets/img/Asset.png" class="bgimage" />
                </center>
                <div class="hero-container" data-aos="fade-up">

                    <img class="indexlogo" src="~/assets/img/stblogoindex.png" /><br /><br />
                    <h1>Eğitim ve Tezler Arşivi <br />e-Kütüphanesi</h1>
                    <div class="row">
                        <div class="col-lg-6">
                            <a type="button" href="~/Home/Egitimler" class="btn-get-started">Eğitim Ara</a>
                        </div>
                        <div class="col-lg-6">
                            <a type="button" href="~/Home/Tezler" class="btn-get-started" style="margin-left:28px">Tez Ara</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--DUYURULAR START-->
            <div class="col-lg-4">
                <center>
                    <div id="carouselExampleCaptions" class="carousel slide carouselmargin" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" style="margin-bottom:7%" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/assets/img/stata.png" class="d-block carouselimg" alt="Resim Yüklenemedi">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> <a style="color: black;" href="~/Home/results" class="carouselh">STATA Eğitimi</a></h5>
                                    <p>
                                        Eğitim Yeri: Ek Bina Toplantı Salonu
                                        Saat: 14.00  Eğitici: Hakan Eren
                                    </p>

                                </div>

                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/img/resmiyazisma.png" class="d-block carouselimg" alt="Resim Yüklenemedi">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> <a href="~/Home/results">DETAYLAR</a></h5>
                                    <p>Eğitim Yeri: Ek Bina Toplantı Salonu
                                    Saat: 14.00  Eğitici: Hakan Eren </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="~/assets/img/d.jpg" class="d-block carouselimg" alt="Resim Yüklenemedi">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5><a href="~/Home/results"> Resmi Yazışmalar Eğitimi</a></h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </center>
            </div>
            
            <!--DUYURULAR END-->
        </div>
    </section><!-- End Hero -->

        <main id="main">
            <section id="clients" class="clients">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://www.sanayi.gov.tr" target="_blank"><img src="~/assets/img/Logo/sanayi.png" class="img-fluid" alt="" data-aos="zoom-in"></a>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://uzaktanegitimkapisi.cbiko.gov.tr" target="_blank"><img src="~/assets/img/Logo/cbiko.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100"></a>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://www.kalkinmakutuphanesi.gov.tr/" target="_blank"><img src="~/assets/img/Logo/Kalkınma.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200"></a>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://www.btkakademi.gov.tr/" target="_blank"><img src="~/assets/img/Logo/k.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300"></a>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://tez.yok.gov.tr" target="_blank"><img src="~/assets/img/Logo/tez_yok.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400"></a>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-centered">
                            <a href="https://www.tubitak.gov.tr" target="_blank"><img src="~/assets/img/Logo/tubitak.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500"></a>
                        </div>
                    </div>               
                </div>
            </section><!-- End Clients Section -->
        </main><!-- End #main -->

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/Counter.js"></script>
</body>
</html>