<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <!--CARDS START-->
        <!--CARDS END-->

        <div class="resulttext">
            <h3 class="text-dark">STATA Eğitimi</h3>
            <hr />
            <p class="blog-post-meta">
                18.09.2022 |
                <a href="#">Mehmet KENGİL</a>
            </p>
            <p class="text-dark">
                STATA Eğitimimiz, Bakanlığımız Daire Başkanı Mehmet Bey tarafından verilmiştir. Eğitime katılan toplam personelimiz 107 kişidir. Katılımcılarımızın çoğunluğunu
                kurumumuza yeni atanan personel oluşturmuştur. Eğitim 1 saat 20dk sürmüştür. Eğitimde kullanılan dosyalara aşağıdaki görsele tıklayarak ulaşabilirsiniz.
            </p>
            <div>

                <img class="dosyapp" src="~/assets/img/powerpoint.png" alt="ikon yüklenemedi" />
                <img class="dosyaword" src="~/assets/img/word.png" alt="ikon yüklenemedi" />
                <img class="dosyaexcel" src="~/assets/img/excel.png" alt="ikon yüklenemedi" />
            </div>
        </div>
        <div class="container">
            <div class="row mb-2" style="margin-top:13%;">
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0 h3baslik">
                                <a class="text-dark" href="#">STATA Eğitimi</a>
                            </h3>
                            <div class="mb-1 text-muted">18.09.2022</div>
                            <p class="card-text mb-auto">
                                STATA Eğitimimiz, Bakanlığımız personeli Ahmet Bey tarafından verilmiştir. Sunumda kullandığı dosyalara
                                aşağıdaki simgeden erişebilirsiniz.
                            </p>
                            <a href="#">Devamını Gör</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" src="~/assets/img/cardimg.jpg" alt="resim yüklenemedi">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h3 class="mb-0 h3baslik">
                                <a class="text-dark" href="#">657 Devlet Memurları Kanunu</a>
                            </h3>
                            <div class="mb-1 text-muted">12.08.2022</div>
                            <p class="card-text mb-auto">
                                657 DMK, Bakanlığımız Daire Başkanı tarafından verilmiştir.
                            </p>
                            <a href="#">Devamını Gör</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" src="~/assets/img/ringsofpower.jpg" alt="resim yüklenemedi">
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/Counter.js"></script>
</body>
</html>