@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tezler</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    @*
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">*@
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Features Section ======= -->
    <!-- Filtre Section-->
    <div class="d-sm-flex mt-4 mb-4 me-5 justify-content-center" style="margin-top:8% !important">
        <div class="col-lg-2">
            <div id="filter" class="p-2 bg-light ms-md-4 ms-sm-2 border">
                <div class="border-bottom h5">FİLTRELE</div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">
                        Örnek Yazı
                        <span class="fas fa-plus"></span>
                    </div>
                    <div id="inner-box" class="collapse show">
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox" checked>
                                <span class="check"></span>
                            </label>
                        </div>
                        <div class="my-1">
                            <label class="tick">
                                Örnek Yazı <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">
                        Örnek Yazı
                    </div>
                    <select class="form-select border-0">
                        <option selected>Örnek Yazı</option>
                        <option value="1">Örnek Yazı</option>
                        <option value="2">Örnek Yazı</option>
                        <option value="3">Örnek Yazı</option>
                    </select>
                    <br />
                    <select class="form-select border-0">
                        <option selected>Örnek Yazı</option>
                        <option value="1">Örnek Yazı</option>
                        <option value="2">Örnek Yazı</option>
                        <option value="3">Örnek Yazı</option>
                    </select>
                    <br />
                    <select class="form-select border-0">
                        <option selected>Örnek Yazı</option>
                        <option value="1">Örnek Yazı</option>
                        <option value="2">Örnek Yazı</option>
                        <option value="3">Örnek Yazı</option>
                    </select>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">
                        Örnek Yazı
                    </div>
                    <input type="text" class="form-control border-0" placeholder="Ara" />
                    <br />
                    <input type="text" class="form-control border-0" placeholder="Ara" />
                    <br />
                    <input type="text" class="form-control border-0" placeholder="Ara" />
                </div>
                <div class="box">
                    <button class="search-btn btn-dark border-0 w-100">Ara</button>
                </div>

            </div>
        </div>
        <!--filtre section-->
        <div class="col-lg-9 ms-3 me-3 tezler">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
                        <a href="">
                            <div class="card">
                                <img src="https://www.kalkinmakutuphanesi.gov.tr/assets/upload/dokumanlar/teknik-tekstil-uretim-yol-haritasihy8Zqk.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">4734 İhale Kanunu</h5>
                                    <p class="card-text">Aciklama</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
                        <a href="">
                            <div class="card">
                                <img src="~/assets/img/5018 mali yönetim kanunu.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">5018 Mali Yönetim Kanunu</h5>
                                    <p class="card-text">Aciklama </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3  d-flex">
                        <a href="">
                            <div class="card">
                                <img src="~/assets/img/6245 harcırah kanunu.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">6245 Harcırah Kanunu</h5>
                                    <p class="card-text">Aciklama </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
                        <a href="">
                            <div class="card">
                                <img src="~/assets/img/cb hükümet sistemi ve kamudaki işleyişi.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">CB Hükümet sistemi ve kamudaki işleyişi</h5>
                                    <p class="card-text">Aciklama</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
                        <a href="">
                            <div class="card">
                                <img src="~/assets/img/isg_egitim.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">isg_egitim</h5>
                                    <p class="card-text">Aciklama </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
                        <a href="">
                            <div class="card">
                                <img src="~/assets/img/veri analizi.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Veri analizi</h5>
                                    <p class="card-text">Aciklama </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-lg-12 text-center">
        <div class="btn-group">
            <a href="#" class="btn btn-default"><<</a>
            <a href="#" class="btn btn-default"><</a>
            <a href="#" class="btn btn-default">1</a>
            <a href="#" class="btn btn-default">2</a>
            <a href="#" class="btn btn-default">3</a>
            <a href="#" class="btn btn-default">4</a>
            <a href="#" class="btn btn-default">5</a>
            <a href="#" class="btn btn-default">></a>
            <a href="#" class="btn btn-default">>></a>
        </div>
    </div>
    @*<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/Counter.js"></script>
</body>

</html>

