<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <main id="main">
        <!-- Hakkımızda Section -->
        <section>
            <div class="wrap">
                <div class="row">
                    <div class="col-12 mb-4">   
                        <center>
                            <img src="~/assets/img/portfolio/portfolio-1.jpg" style="max-height:400px; max-width:900px; margin-top:2%;">
                        </center>   
                        <div class="section-title" data-aos="fade-down">
                            <span>Hakkımızda</span>
                            <h2>Hakkımızda</h2><br />
                                               <center>
                                                   <p class="card-text" style="max-width:900px;">
                                                       Sanayi veya endüstri, devamlı veya belli zamanlarda, makine ve benzeri araçlar kullanarak bir madde veya gücün niteliğini veya
                                                       biçimini değiştirerek toplu üretimde bulunan faaliyet dalı ve ekonominin ana sektörlerinden birisidir.<br />
                                                       Terim, el sanatlarından yüksek teknolojiye kadar bir dizi insan faaliyetine atıfta bulunabilir ancak en yaygın olarak,
                                                       birincil sektörden gelen hammaddelerin büyük ölçekte işlenmiş ürünlere dönüştürüldüğü endüstriyel tasarım için kullanılır.
                                                       Bu tür mallar; uçak, beyaz eşya, spor ekipmanları veya otomobiller gibi diğer daha karmaşık ürünlerin üretimi için diğer
                                                       üreticilere satılabilir veya üçüncül endüstri yoluyla ve genellikle marketler, pazarlar aracılığıyla son kullanıcıya ve
                                                       tüketiciye kadar dağıtılabilir.
                                                   </p>
                                               </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hakkımızda Section -->
    </main>
    <!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/Counter.js"></script>
</body>

</html>